h1{font-family: algerian; color: Blue}
body{font-family: Calibri; background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIfOYUMgSkA6w7LbaAC89LdK95BjLg7SY19A&usqp=CAU); margin: 50px 50px 50px 50px}
div{border: 5px solid grey; padding: 15px 15px 15px 15px}
#border{background-color: orange}
#putih{background-color: white}
