h1{font-family: algerian; color: Blue}
body{font-family: Calibri; background-image: url(https://i.pinimg.com/originals/66/fe/3f/66fe3fb9d3f51c1a781d45a32ab39935.jpg); margin: 50px 50px 50px 50px}
div{border: 5px solid grey; padding: 15px 15px 15px 15px}
#border{background-color: orange}
